##INSAID Capstone project - group 1015

###Installing and importing mysql.connector/python

In [391]:
!pip install --user mysql-connector-python

Requirement already satisfied: mysql-connector-python in /root/.local/lib/python3.6/site-packages (8.0.19)
Requirement already satisfied: dnspython==1.16.0 in /root/.local/lib/python3.6/site-packages (from mysql-connector-python) (1.16.0)
Requirement already satisfied: protobuf==3.6.1 in /root/.local/lib/python3.6/site-packages (from mysql-connector-python) (3.6.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from protobuf==3.6.1->mysql-connector-python) (45.1.0)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.6/dist-packages (from protobuf==3.6.1->mysql-connector-python) (1.12.0)

In [0]:
import sys
import mysql.connector as sql
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import pandas_profiling as pp
from google.colab import files

%matplotlib inline                                                              

import warnings                                                                 # Ignore warning related to pandas_profiling
warnings.filterwarnings('ignore') 

pd.set_option('display.max_columns', 100)                                       # Display all dataframe columns in outputs (it has 27 columns, which is wider than the notebook)
                                                                                # This sets it up to display with a horizontal scroll instead of hiding the middle columns

###Creating db connection

In [0]:
capdb = sql.connect(host='cpanel.insaid.co', database='Capstone1', user='student', password='student')

###Pulling data from SQL to Pandas df

In [394]:
print(pd.read_sql("show tables",con=capdb))

        Tables_in_Capstone1
0               events_data
1          gender_age_train
2  phone_brand_device_model

In [395]:
print(pd.read_sql("describe events_data",con=capdb))

       Field         Type Null Key Default Extra
0   event_id   bigint(20)   NO        None
1  device_id  bigint(255)  YES        None
2  timestamp     datetime   NO        None
3  longitude   float(8,6)  YES        None
4   latitude   float(8,6)  YES        None
5       city  varchar(50)   NO        None
6      state  varchar(50)   NO        None

In [396]:
print(pd.read_sql("describe gender_age_train",con=capdb))

       Field           Type Null Key Default Extra
0  device_id    bigint(255)   NO        None
1     gender  varchar(2555)   NO        None
2        age       int(255)   NO        None
3      group  varchar(2555)   NO        None

In [397]:
print(pd.read_sql("describe phone_brand_device_model",con=capdb))

          Field           Type Null Key Default Extra
0     device_id    bigint(255)   NO        None
1   phone_brand  varchar(2555)   NO        None
2  device_model  varchar(2555)   NO        None

In [398]:
#checkung if device_id column has NULL
query = """select *
          from events_data
          where state = 'delhi' and device_id is null"""
len(pd.read_sql(query, con=capdb, coerce_float = False))

69

In [399]:
#Replacing NULL with 0
query = """select event_id, coalesce(device_id, 0) as device_id,
          timestamp, longitude, latitude, city, state
          from events_data
          where state = 'delhi'"""
events_data_delhi = pd.read_sql(query, con=capdb, coerce_float = False)

OperationalError: ignored

In [0]:
query = """select *
          from gender_age_train
          where device_id is null"""
len(pd.read_sql(query, con=capdb, coerce_float = False))

In [0]:
query = """select *
          from phone_brand_device_model
          where device_id is null"""
len(read_sql(query, con=capdb, coerce_float = False))

In [0]:
query = """select *
          from gender_age_train"""
gender_age_train = pd.read_sql(query, con=capdb, coerce_float = False)
gender_age_train.shape

In [0]:
query = """select *
          from phone_brand_device_model"""
phone_brand_device_model = pd.read_sql(query, con=capdb, coerce_float = False)
phone_brand_device_model.shape

In [0]:
pp.ProfileReport(events_data_delhi).to_file(outputfile='events.html')
pp.ProfileReport(gender_age_train).to_file(outputfile='gender_age_train.html')
pp.ProfileReport(phone_brand_device_model).to_file(outputfile='phone_brand_device_model.html')

files.download('events.html')
files.download('gender_age_train.html')
files.download('phone_brand_device_model.html')

In [0]:
evnt_join_gndr = pd.merge(left = events_data_delhi,
                  right = gender_age_train,
                  how ='left',
                  left_on = 'device_id',
                  right_on = 'device_id',
                  sort = False,
                  suffixes = ('_evnt','_gndr'),
                  indicator='ind_evnt_join_gndr',
                  validate = ('many_to_one')
                  )

In [0]:
pp.ProfileReport(evnt_join_gndr).to_file(outputfile='evnt_join_gndr.html')
files.download('evnt_join_gndr.html')

In [0]:
phone_brand_device_model.rename(columns = {'device_id':'device_id_mdl'}, inplace = True) 

capstone_data = pd.merge(left = evnt_join_gndr,
                         right = phone_brand_device_model,
                         how ='left',
                         left_on = 'device_id_evnt',
                         right_on = 'device_id_mdl',
                         sort = False,
                         suffixes = ('_evntgndr','_mdl'),
                         indicator='ind_evntgndr_join_mdl',
                         validate = ('many_to_one')
                         )

### Closing db connection

In [0]:
capdb.close()