###Installing and importing mysql.connector/python

In [25]:
!pip install --user mysql-connector-python

Requirement already satisfied: mysql-connector-python in /root/.local/lib/python3.6/site-packages (8.0.19)
Requirement already satisfied: protobuf==3.6.1 in /root/.local/lib/python3.6/site-packages (from mysql-connector-python) (3.6.1)
Requirement already satisfied: dnspython==1.16.0 in /root/.local/lib/python3.6/site-packages (from mysql-connector-python) (1.16.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from protobuf==3.6.1->mysql-connector-python) (45.1.0)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.6/dist-packages (from protobuf==3.6.1->mysql-connector-python) (1.12.0)

In [0]:
import mysql.connector

###Creating db connection and storing in capdb

In [0]:
 capdb = mysql.connector.connect(host='cpanel.insaid.co', user = 'student', password = 'student', database = 'Capstone1')

###Creating python cursor for executing mysql queries, checking tables, structures and count

In [0]:
capdbCursor = capdb.cursor()

In [0]:
capdbCursor.execute("show tables")

In [0]:
capdbTables = capdbCursor.fetchall()

In [31]:
for table in capdbTables:
    print(table)

('events_data',)
('gender_age_train',)
('phone_brand_device_model',)

In [34]:
capdbCursor.execute("describe phone_brand_device_model")
print(capdbCursor.fetchall())

[('device_id', 'bigint(255)', 'NO', '', None, ''), ('phone_brand', 'varchar(2555)', 'NO', '', None, ''), ('device_model', 'varchar(2555)', 'NO', '', None, '')]

In [33]:
capdbCursor.execute("select ")
print(capdbCursor.fetchall())

[('device_id', 'bigint(255)', 'NO', '', None, ''), ('gender', 'varchar(2555)', 'NO', '', None, ''), ('age', 'int(255)', 'NO', '', None, ''), ('group', 'varchar(2555)', 'NO', '', None, '')]

In [32]:
capdbCursor.execute("describe events_data")
print(capdbCursor.fetchall())

[('event_id', 'bigint(20)', 'NO', '', None, ''), ('device_id', 'bigint(255)', 'YES', '', None, ''), ('timestamp', 'datetime', 'NO', '', None, ''), ('longitude', 'float(8,6)', 'YES', '', None, ''), ('latitude', 'float(8,6)', 'YES', '', None, ''), ('city', 'varchar(50)', 'NO', '', None, ''), ('state', 'varchar(50)', 'NO', '', None, '')]

In [35]:
capdbCursor.execute("select count(*) from events_data where state = 'delhi'")
capdbRecords = capdbCursor.fetchall()
for record in capdbRecords:
    print(record)

OperationalError: ignored